* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
}



/* .add-padding {
  padding: 40px 0;
} */
.social-media-icons {
  gap: 20px;
}
.social-media-icons i {
  color: #ccc;
  font-size: large;
}
.social-media-icons i:hover {
  color: white;
  font-size: x-large;
}

.image-section {
  position: sticky;
  background-image: url("./images/BenjaminEfenudu.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.card {
  border-radius: 20px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  min-height: 500px;
  width: 100%;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);

  display: flex;
  flex-flow: column;
  padding: 5rem;
}
.card .info {
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.card .info .brand {
  position: absolute;
  top: -20px;
  left: 30px;
  font-size: 8em;
  font-weight: 900;
}
.card .about-me {
  color: white;
}
.card .about-me .name {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  line-height: 1.1em;
}
.card .about-me .location {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.card .about-me .details {
  padding: 10px;
  margin-top: 2rem;
  padding: 0;
}

.job-item {
  margin-top: 30px;
}
.job-item .job-role-company {
  display: flex;
  font-size: 20px;
  font-weight: 600;
}
.job-item .job-role-company .role {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.job-item i {
  font-size: 30px;
}
.job-item .company {
  margin: auto 0;
}
.job-item .label {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

/* ENQUIRIES */
.enquiries i {
  color: #8192a2;
}
.enquiries button:disabled {
  pointer-events: auto;
  cursor: not-allowed;
}

/* MODAL */
.modal-body {
  margin: 0 20px;
  height: 50vh;
}

.modal-item {
  display: flex;
}
.modal-item h6 {
 position: relative;
}
.modal-item p {
  position: absolute;
  left: 150px
}

/* FOOTER */
.footer {
  background: #212529;
  color: #ffffff8c;
}
.footer a {
  color: #ffffff8c;
  text-decoration: none;
}
.footer a:hover,
.footer a:active {
  color: #ffffffcc;
}

/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 1023.95px) {
  .job-item .job-role-company {
    flex-direction: column;
    justify-content: start;
  }
  .job-item .job-role-company .role {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@media screen and (min-width: 1024px) {
  .job-item .job-role-company {
    flex-direction: row;
    justify-content: start;
  }
  .job-item .job-role-company .role {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 20px;
  }
  .job-item .company {
    padding-left: 20px;
  }
}

@media screen and (min-width: 0) and (max-width: 548px) {
  .card {
    padding: 1rem;
  }

  .image-section p {
    font-size: 0.7rem;
  }
  .image-section h2 {
    font-size: 1rem;
  }
  .image-section .job-item {
    margin-top: 5px;
  }
}

/* SPINNER */
.loader {
  color: #0d6efd;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

